body {
display: flex;
flex-direction: column;
flex: 1;

margin: 0;
}



.header {
background-color: #1F2937;
display: flex;
padding: 10px;
justify-content: space-around;

}

.header h4 {
    font-size: 20px;
    font-weight: bolder;
}
.subtext button {
    border-style: none;
}
.header li {

    display: inline-block;
    margin-right: 16px;
 
}

.header h4,
.header li {
    color: white;
}

.subtext bg {
    background-color:#1F2937;
    display: flex;
   
}
.subtext {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 0px;
  
    width: 700px;
   
}

.subtext0 {
    display: flex;
    background-color:#1F2937;
   justify-content: center;
    
}
.subtext button {
    width: 100px;
}

.subtext p {
    margin-top: -10px;
    font-size: 18px;
    font-weight: light;
}

.subtext h1 {
    font-weight: bolder;
    font-size: 33px;
}
.subtext h1,
.subtext p {
color: white;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 450px;
    margin-top: 20px;
    
}
.collage {
    display: flex;
    justify-content: center;
}
.collage1,
.collage2,
.collage3,
.collage4 {
    display: flex;
    flex-direction: column;
    width: 208px;
    
}
.quote {
    background-color: #E5E7EB;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inspiringquote {
    font-size: 36px;
    width: 800px;
    font-weight: lighter;
    font-style: italic;
}
.quotee {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: -20px;
}

.action {
    display: flex;
    margin-top: -140px;
    margin-bottom: -140px;
    flex-direction: column;
    padding: 250px;
    align-items: center;
}
.signup {
    background-color:#3882F6;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 15px;
    width: 800px;
}
.signup h3,
.signup p {
    color: white;
}

.action button {
height: 40px;
width: 100px;
margin-top: 30px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;

}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer p {
    color: white;
}

ul {
    list-style: none;
}