body {
display: flex;
flex-direction: column;
flex: 1;

margin: 0;
}



.header {
background-color: #1F2937;
display: flex;
padding: 10px;
justify-content: space-around;

}

.header li {

    display: inline-block;
    margin-right: 16px;

}

.header h4,
.header li {
    color: white;
}

.subtext {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 0px;
    padding-left: 337px;
}

.subtext0 {
    display: flex;
    background-color:#1F2937
}
.subtext button {
    width: 100px;
}

.subtext h1,
.subtext p {
color: white;
}

.quote {
    background-color: #E5E7EB;
}

.signup {
    background-color:#3882F6;
}
.signup h3,
.signup p {
    color: white;
}
button {
    background-color: #3882F6;
    color: white;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer p {
    color: white;
}

ul {
    list-style: none;
}